// Place all the styles related to the airports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #D1EEFC;
}

h1 {
  color: #5856D6;
  font-size: 50px;
  font-family: arial;
  text-align: center;
  margin: 10px;
}

h2 {
  color: #FF2D55;
  font-family: arial;

}

p {
  color: #FF2D55;
  font-family: arial;

}
